{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Streaming Service</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="margin:0; padding:0; background:#121212; font-family:Arial, sans-serif; color:#fff;">
  
  <div class="sidebar">

    <div class="sidebar-section">
      <!-- Spotify Logo -->
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png" alt="Spotify Logo"
        style="width: 100%; height: auto; padding: 20px; box-sizing: border-box;">

      <a href="#" class="sidebar-link active">
        <span class="sidebar-link-icon"><i class="fa-solid fa-house"></i></span>
        Home
      </a>
      <a href="search" class="sidebar-link">
        <span class="sidebar-link-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        Search
      </a>
    </div>

    <!-- Bottom section of the sidebar -->
    <div class="sidebar-section">
      <a href="#" class="sidebar-link">
        <span class="sidebar-link-icon"><i class="fa-solid fa-book"></i></span>
        Your Library
      </a>
      <div class="create-playlist">
        <h4>Create your first playlist</h4>
        <p>It easy we will help you</p>
        <button type="button">Create playlist</button>
      </div>
    </div>

    <div class="sidebar-section">
      <a href="#" class="sidebar-link">
        <span class="sidebar-link-icon"><i class="fa-solid fa-heart"></i></span>
        Liked Songs
      </a>
      <a href="#" class="sidebar-link">
        <span class="sidebar-link-icon"><i class="fa-brands fa-itunes-note"></i></span>
        US-UK Top Charts
      </a>
    </div>
  </div>


  <div style="margin-left:240px; padding:20px;">
    <header class="header-container">
      <div class="head-nav">
        <form action="search" method="POST">
          {% csrf_token %}
          <div class="search-bar" style="width: 390px;">
            <input type="search" name="search_query" placeholder="What do you want to listen to?" aria-label="Search" >
            <button type="submit" aria-label="Search">
              🔍
            </button>  
          </div>
        </form>

        <div class="login-button">
          {% if user.is_authenticated %}
            <div class="user-nav" style="position: relative; right: -100px; display: inline-block;">
              <b style="position: absolute; top: 27px; right: 60px; transform: translateY(-50%); white-space: nowrap;">Welcome, {{user.username}}</b>
              <img src="https://i.pinimg.com/originals/4c/1e/91/4c1e91957d5167092927f5a44ffb0fea.jpg" alt="User" style="float: right; width: 50px; height: 50px; border-radius: 50%;" onclick="toggleLogoutBox()">
              <div id="logout-box" style="display: none; position: absolute; top: 60px; right: 0; background-color: rgb(46, 45, 45); padding: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius: 10px; width: 150px;">
                <a href="{% url 'logout' %}" style="text-decoration: none; color: white; font-size: 16px; font-weight: 300; white-space: nowrap; ">Log out</a>
              </div>
            </div>
          {% else %}
            <a href="signup">
              <button type="button" class="signup">Sign Up</button>
            </a>
            <a href="login">
              <button type="button" class="login">Login</button>
            </a>
          {% endif %}
        </div>
        
      </div> 
    </header>

    <div class="search-title">Top Artists</div>

    <main style="padding-top:20px;">
      <section style=" margin-top:0px; padding:0px; overflow-x:auto; white-space:nowrap; position: relative;">
        <!-- Artist Card -->
        {% for artist in artist_info %}
        <div class="artist-card">
          <a href="/profile/{{artist.artist_id}}" style="text-decoration: none;">
            <img src="{{artist.artist_coverArt}}" alt="{{artist.artist_name}}"
              style="width:150px; height:150px; border-radius:50%;">
            <div class="artist-info">
              <div class="artist-name">{{artist.artist_name}}</div>
              <div class="artist-title">Artist</div>
            </div>
          </a>
        </div>
        {% endfor %}
      </section>
      <!-- Repeat sections for other categories with more content cards -->

      <!-- "Browse All" Section Title -->
      <div class="browse-all-title">Browse all</div>

      <!-- "Browse All" Section Content -->


      <div class="browse-all">
        <!-- Category Card -->
        <div class="category-card">
          <img src="https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa" alt="Podcasts">
          <div class="category-title">Podcasts</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200005cafa6152f62518b4c3251858b21" alt="Podcasts">
          <div class="category-title">Audiobooks</div>
        </div>

        <div class="category-card">
          <img src="https://concerts.spotifycdn.com/images/live-events_category-image.jpg" alt="Podcasts">
          <div class="category-title">Live Events</div>
        </div>

        <div class="category-card">
          <img src="https://t.scdn.co/images/ea364e99656e46a096ea1df50f581efe" alt="Podcasts">
          <div class="category-title">Made For You</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67706f000000027ea4d505212b9de1f72c5112" alt="Podcasts">
          <div class="category-title">New Releases</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200005caf585ad0e83caae5047865f7a4" alt="Podcasts">
          <div class="category-title">2023 in Music</div>
        </div>
        <!-- Repeat for each category -->
        <!-- ... other categories ... -->
      </div>

      <div class="browse-all">
        <!-- Category Card -->
        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200008e2cea38d17f2e1a1630287f4328" alt="Podcasts">
          <div class="category-title">2023 in podcasts</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab6761700000c52c87ab6b4a0c51593853fe2157" alt="Podcasts">
          <div class="category-title">Merch</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200008e2c64adf130003faa51378e3d2b" alt="Podcasts">
          <div class="category-title">Happy Christmas</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200005cafa862ab80dd85682b37c4e768" alt="Podcasts">
          <div class="category-title">Pop</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200005caf271f9d895003c5f5561c1354" alt="Podcasts">
          <div class="category-title">Mood</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200005caf9e3dea60be755ccd97b7351f" alt="Podcasts">
          <div class="category-title">Hip-Hop</div>
        </div>
        <!-- Repeat for each category -->
        <!-- ... other categories ... -->
      </div>

      <div class="browse-all">
        <!-- Category Card -->
        <div class="category-card">
          <img src="https://t.scdn.co/images/7262179db37c498480ef06bfacb60310.jpeg" alt="Podcasts">
          <div class="category-title">Podcast Charts</div>
        </div>

        <div class="category-card">
          <img src="https://t.scdn.co/images/209c867f5bb34076b0dcc9deeb1868e6" alt="Podcasts">
          <div class="category-title">Podcast New Releases</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/9af79fd06e34dea3cd27c4e1cd6ec7343ce20af4" alt="Podcasts">
          <div class="category-title">Video Podcasts</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67fb8200005caf3a75eafe6ba383e4152e6938" alt="Podcasts">
          <div class="category-title">Fiction & Literature</div>
        </div>

        <div class="category-card">
          <img src="https://charts-images.scdn.co/assets/locale_en/regional/weekly/region_global_default.jpg"
            alt="Podcasts">
          <div class="category-title">Charts</div>
        </div>

        <div class="category-card">
          <img src="https://i.scdn.co/image/ab67706f000000029249b35f23fb596b6f006a15" alt="Podcasts">
          <div class="category-title">Workout</div>
        </div>
        <!-- Repeat for each category -->
        <!-- ... other categories ... -->
      </div>

    </main>

  </div>

</body>

<script>
  function toggleLogoutBox() {
    var logoutBox = document.getElementById('logout-box');
    if (logoutBox.style.display === 'none' || logoutBox.style.display === '') {
        logoutBox.style.display = 'block';
    } else {
        logoutBox.style.display = 'none';
    }
  }
</script>

</html>